<!doctype html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Projeto CRUD Final</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<title>Página inicial</title>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body><!--Aqui o nav é BootStrap-->
	<header>
		<nav class="navbar navbar-expand-lg" style="background-color: #59037e;">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Home</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
					aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarScroll">
					<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">Tópicos</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#ab">Cidade Inteligente</a></li>
								<li><a class="dropdown-item" href="#ac">Mobilidade Integradas</a></li>
								<li><a class="dropdown-item" href="#ad">Energia Limpa</a></li>
								<li><a class="dropdown-item" href="#ae">Conexões Fundamentais</a></li>
								<li><a class="dropdown-item" href="#af">Educação e Tecnologia</a></li>
								<li><a class="dropdown-item" href="#ag">Biotecnologia</a></li>
								<li><a class="dropdown-item" href="#ah">Cadastro</a></li>
								<li><a class="dropdown-item" href="#aj">Sobre nós</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="CuriosidadesTecnologicas.html">Tecnologias</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="ETs.html">ET´s</a>
						</li>
						<li class="nav-item">
							<a class="nav-link disable" href="cadastro.html">Cadastro</a>
              </li>
            </ul>
            <form class=" d-flex" role="procurar">
								<input class="form-control me-2" type="Pesquise" placeholder="Pesquise" aria-label="Pesquise">
								<button class="btn btn-outline-success" type="submit">Procurar</button>
								</form>
				</div>
			</div>
		</nav>
		<div>
		</div>

	</header>
	<div>
		<div class="bgfundo">
			<div class="container row mx-auto py-auto g-1">
				<img src="imagens/homem-tiro-medio-usando-oculos-vr.jpg" />
			</div>
		</div>
	</div>

	<div class="container row mx-auto g-4">

		<h2 class="text-center mb-3 py-3">Novas Tecnologias</h2>

		<div class="col-12 col-md-6 col-xxl-4">
			<div class="card mb- 3">
				<img src="imagens/cidades-inteligentes.jpg"/>
				<div class="card-body">
					<h5 class="card-title" id="ab">Cidade Inteligente</h5>
					<p class="card-text">No Brasil, “cidades inteligentes” são cidades comprometidas com o
						desenvolvimento urbano e a transformação digital sustentáveis, em seus aspectos econômico,
						ambiental e sociocultural que atuam de forma planejada, inovadora, inclusiva e em rede, promovem
						o conhecimento digital, a governança e a gestão colaborativas e utilizam tecnologias para
						solucionar
						problemas concretos, criar oportunidades e principalmente, a melhoria do atendimento do serviço
						público.
					</p>
					<a href="#" class="btn btn-primary">Início</a>
				</div>
			</div>
		</div>

		<div class="col-12 col-md-6 col-xxl-4" id="ac">
			<div class="card mb- 3">
				<img src="imagens/transporte-inteligente-com-IA-5G-e-computação-de-borda.jpg">
				<div class="card-body">
					<h5 class="card-title">Mobilidade integrada</h5>
					<p class="card-text">Nos dias atuais você consegue saber
						exatamente o horário em que o ônibus passará pelo seu ponto. Chegando lá, um ônibus elétrico lê
						o seu tíquete, comprado pelo celular, reconhece sua face e identifica que ninguém está fazendo
						uso indevido do seu bilhete.O aplicativo integrado consegue indicar qual é a forma mais rápida
						de
						chegar ao seu destino promovendo a interligação com outros meios de transporte como bicicletas e
						carros compartilhados.</p>
					<a href="#" class="btn btn-primary">Início</a>
				</div>
			</div>
		</div>

		<div class="col-12 col-md-6 col-xxl-4" id="ad">
			<div class="card mb- 3">
				<img src="imagens/energia-cidade.jpg"/>
				<div class="card-body">
					<h5 class="card-title">Energia Limpa</h5>
					<p class="card-text">O futuro da energia pede fontes renováveis. Com elas, será possível suprir a
						demanda energética
						população mundial, sem impactar negativamente o meio ambiente. As fontes solar, eólica e da
						biomassa
						(cana-de-açúcar) são as principais apostas para o futuro da energia elétrica.</p>
					<a href="#" class="btn btn-primary">Início</a>
				</div>
			</div>
		</div>

		<div class="col-12 col-md-6 col-xxl-4" id="ae">
			<div class="card mb- 3">
				<img src="imagens/cidades-inteligentes-rede.jpg">
				<div class="card-body">
					<h5 class="card-title">Conexões fundamentais</h5>
					<p class="card-text">O avanço tecnológico das últimas décadas transformou positivamente a maneira
						como vendemos,
						consumimos e vivemos. No entanto, essa evolução criou uma cultura que nos faz enxergar inovação
						e tecnologia
						pela mesma lente, como se significassem a mesma coisa, mas não significam.</p>
					<a href="#" class="btn btn-primary">Início</a>
				</div>
			</div>
		</div>


		<div class="col-12 col-md-6 col-xxl-4" id="af">
			<div class="card mb- 3">
				<img src="imagens/EducTec.jpg">
				<div class="card-body">
					<h5 class="card-title">Educação e Tecnologia</h5>
					<p class="card-text">A pluralidade de tecnologias (equipamentos e funções) nos permitem criar,
						capturar, interpretar, armazenar, receber e transmitir informações.
						A inserção das TICs na educação é uma importante ferramenta para a melhoria do processo de
						ensino-aprendizagem, gerando resultados positivos ou negativos,
						dependendo de como elas sejam utilizadas.</p>
					<a href="#" class="btn btn-primary">Início</a>
				</div>
			</div>
		</div>

		<div class="col-12 col-md-6 col-xxl-4" id="ag">
			<div class="card mb- 3">
				<img src="imagens/biotech.jpg"/>
				<div class="card-body">
					<h5 class="card-title">Biotecnologia</h5>
					<p class="card-text">Ao longo do tempo, fomos transformando a biotecnologia, incorporando novas
						ferramentas e aplicações. O avanço nos conhecimentos sobre genética, microbiologia, química,
						fisiologia, biologia molecular, entre outras, foram decisivos para desenvolvermos o que chamamos
						hoje de biotecnologia moderna, utilizada com grande efácia na melhoria da qualidade de vida da população.</p>
					<a href="#" class="btn btn-primary">Início</a>
				</div>
			</div>
		</div>

		<div class="col-12 col-md-6 col-xxl-4" id="aj">
			<div class="card mb- 3">
				<img src="imagens/data-analysts.png" />
				<div class="card-body">
					<h5 class="card-title">Curiosidades sobre nós</h5>
					<p class="card-text">Somos um grupo especializado em novas tecnológias voltados para a produção de
						serviços e produtos, com impacto em diversas áreas de conhecimento, incluindo saúde humana, agricultura, saúde
						animal, meio ambiente e industriale nosso
						objetivo é levar o desenvolvimento tecnológico para todas as áreas do conhecimento.</p>
					<a href="#" class="btn btn-primary">Início</a>
				</div>
			</div>
		</div>

		<div class="col-12 col-md-6 col-xxl-4" id="ah">
			<div class="card mb- 3">
				<img src="imagens/tab.jpg" />
				<div class="card-body">
					<h5 class="card-title">Cadastre-se</h5>
					<p class="card-text">Ficou curioso? Então, para que você saiba mais sobre as áreas do conhecimento
						aqui apresentadas e, ainda,
						saúde humana, agricultura, saúde animal, meio ambiente e projetos industriais e tecnológicos,
						basta apenas realizar cadastro
						em nossa página que enviaremos e nós o ajudaremos na escolha do melhor projeto que se adeque às suas
						necessidades.
					</p>
					<a href="cadastro.html" class="btn btn-primary">Cadastro</a>
				</div>
			</div>
		</div>

	</div>

	<footer style="background-color: #59037e">
		<p class="text-center py-3">© Todos os direitos reservados<i class="bi bi-c-circle"></i> 2023</p>
	</footer>

</body>

</html>